body{
    margin: 0 auto;
    padding: 0 auto;
}
section{
    overflow: hidden;
}
.content{
    display: block;
    max-width: 998px;
    align-items: center;
    margin: 0 auto;
}
.title{
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    background-color:#00b5ee;
    width: auto;
    padding:15px 6px;
    display: inline-block;
    margin-top: 0;
}
#navbar{
    height: 65px;
    background-color: #f2f2f2;
}
#navbar img{
    margin: 15px 0 11px 45px; 
    max-height: 423px;
}

#navbar ul{
    float: right;
    list-style: none;
    align-items: center;
    margin-right: 31px;
}
#navbar li{
    float: left;
    color: #4a4a4a;
    font-size: 12px;
    padding: 18px 25px;
}
#navbar a{
    text-decoration: none;
    color: black;
    text-align: center;
}

#banner{
    height: 423px;
}
#banner img{
    width: 100%;
}

#mid-1{
    height:287px;
    background-color: #f2f2f2;
}
#mid-1 .service{
    width: 471px;
    float: left;
}
#mid-1 .case{
    width: 471px;
    float: right;
}
#mid-1 .part{
    display: block;
}
#mid-1 .sub-t{
    display: inline;
    float: left;
    font-size: 14px ;
    color: #00b5ee;
}
#mid-1 .p-item{
    width: 470px;
    height: 106px;
}
#mid-1 .p-item span{
    font-size: 11px;
    color: #7d7d7d;
    width: 346px;
    height: 56px;
    float: left;
    margin-left: 53px;
    margin-right: 0;
}
#mid-2{
    height: 431px;
    background-color: #f2f2f2;
}
#mid-2 h4{
 display: inline;
 float: left;
 color: #706d6d;
 margin:54px 0 0 0;
}
#mid-2 .btn a{
    font-size: 9px;
    height: 12px;
    display: block;
    float: right;
    color: #777575;
    text-decoration:none;
    padding-right: 12px;
}
#mid-2 .con-obj{
    display: block;
    width: 264px;
    height: 157px;
}
#mid-2 span{
    font-size: 14px;
    color: #a09e9e;
    display: block;
}
#mid-2 .f1{
    margin-bottom: 27px;
}
#mid-2 .content-item{
    width: 301px;
    height: 221px;
    display: inline-grid;
    padding-right: 15px;
}
#mid-2 .content-item i{
    border-right:1px solid #afaeae ;
}
#mid-2 img{
    margin-bottom: 24px;
}
#mid-2 .content-item3{
    width: 352px;
    height: 221px;
    display: inline-grid;
}
#mid-2 .view-3 p{
    float: left;
    font-size: 14px;
    color: #a09e9e;
    margin: 0 0 7px 0 ;
}
#mid-2 .view-3 span{
    float: right;
    text-align: right;
    display: inline;
    font-size: 9px;
    color: #a09e9e;
}
#footer{
    height: 230px;
    background-color: #383838;
}
#footer .row{
    height: 180px;
}
#footer .left{
    width:500px;
    height:180px;
    float: left;
}
#footer ul{
    margin: 50px 0 16px 0;
    padding:0;
    list-style: none;
}

#footer li{
    float: left;
    font-size: 12px;
    padding: 0 22px;
    border-right: 1px solid #fff;
}
#footer .last {
    padding-bottom: 12px;
    border-right: 0;
}

#footer .f-1{
    float: left;
    padding-left: 0;
}
#footer a{
    text-decoration: none;
    color: #fff;
}

#footer p{
    display: block;
    font-size: 12px;
    color: #7d7d7d;
}
#footer span{
    align-items: center;
    text-align:center;
    color: #7d7d7d;
}
#footer .free-call{
    width: 182px;
    height: 180px;
    float: right;
    padding-top: 40px;
}
#footer .copyright{
    width: 998px;
    height: 40px;
    font-size: 11px;
    color: #a09e9e;
    text-align: center;
    padding-left: 250px;
}
