body{
    margin: 0;
    padding: 0 auto;
}
section{
    overflow: hidden;
}
#navbar{
    height: 65px;
    background-color: #f2f2f2;
}
#navbar img{
    margin: 15px 0 11px 45px; 
    max-height: 423px;
}

#navbar ul{
    float: right;
    list-style: none;
    align-items: center;
    margin-right: 31px;
}
#navbar li{
    float: left;
    color: #4a4a4a;
    font-size: 12px;
    padding: 18px 25px;
}
#navbar a{
    text-decoration: none;
    color: black;
    text-align: center;
}

#banner{
    height: 423px;
    background-color:gold ;
}

#mid-1{
    height:287px ;
    background-color: beige;
}

#mid-2{
    height: 431px;
    background-color: antiquewhite;
}

#footer{
    height: 230px;
    background-color: #383838;
}

#footer ul{
    margin: 50px 0 16px 50px;
    padding:0;
    list-style: none;
}

#footer li{
    float: left;
    font-size: 12px;
    padding: 0 22px;
    border-right: 1px solid #fff;
}
#footer .f-1{
    float: left;
    padding-left: 0;
}
#footer a{
    text-decoration: none;
    color: #fff;
}

#footer p{
    display: block;
    font-size: 12px;
    color: #7d7d7d;
}
#footer span{
    align-items: center;
    text-align:center;
    color: #7d7d7d;
}
#footer .free-call{
    float: right;
    margin-right:68px;
}
#footer .free-call b{
    font-size: 12px;
    font-weight: 600px;
}

#footer .free-call span{
    font-size: 20px;
}
#footer span{
    align-items: center;
    text-align: center;
    display: flexbox;
}